<!DOCTYPE html>
<html>
<head>
</head>
<body >
  <nav>
    <a href=http://localhost:8080/urls/new>Shorten URL</a>
    <br>
     <a href="http://localhost:8080/urls">Url Database</a>
  </nav>



<% if (username == null) {%>
  <form class="login" action="/login" method="POST" >
      <input id="username" type="text" name="username" style="width: 300px">
      <input class="login" type="submit" value="Login">
  </form>

<%} else {%>
<p><%= users %></p>
  <form class="login" action="/logout" method="GET" >
  <input class="logout" type="submit" value="Logout">
  </form>
<% } %>

</body>
</html>



