<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
<style type="text/css">

  li {
    padding-top: 50px;
    font-family: sans-serif;
  }

  button {
    float:;
    margin-right: ;

  }
  nav{
    float: right;
    font-family: sans-serif;
    padding-right: 20px;
  }
  h1{
    font-family: sans-serif;
    padding-left: 100px;
  }

</style>
  <title></title>
  <style type="text/css">
    p {
      font-family: sans-serif;
      font-size: 15px;
    }
  </style>
</head>
<body >
<p style="text-align:center; ">URL SHORTENER 2017</p>
<nav>
<a href=http://localhost:8080/urls/new>Shorten URL</a>
<br>
<a href="http://localhost:8080/urls">Url Database</a>
</nav>

</body>
</html>



