<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      background: #D3D3D3;
    }
  </style>
</head>
<body >
  <nav>
    <a href=http://localhost:8080/urls/new>Shorten URL</a>
    <br>
     <a href="http://localhost:8080/urls">Url Database</a>
  </nav>



<% if (userID == null) {%>
<a href="/login">Login</a>
<a href="/register">Register</a>

<%} else {%>
<p><%= users.email %></p>
  <form class="login" action="/logout" method="GET" >
  <input class="logout" type="submit" value="Logout">
  </form>
<% } %>

</body>
</html>



