<!DOCTYPE html>
<html>
<head>
</head>
<body >
  <nav>
    <a href=http://localhost:8080/urls/new>Shorten URL</a>
    <br>
     <a href="http://localhost:8080/urls">Url Database</a>
  </nav>



<% if (userID == null) {%>


<%} else {%>
<p><%= userID %></p>
  <form class="login" action="/logout" method="GET" >
  <input class="logout" type="submit" value="Logout">
  </form>
<% } %>

</body>
</html>



