<!DOCTYPE html>
<html lang="en">
<head>

  <title>URLSHOWS</title>
</head>
<body>

<ul>
<% for(var i in urls) {%>
  <li> <%=Object.keys[i] + " " + urls[i]%> </li>
  <% } %>

</ul>

<a href=http://google.com>Shorten URL</a>
</body>
</html>