<!DOCTYPE html>
 <html>

  <head>
  </head>

    <body>

     <h1 style='text-align: center;'>Register</h1>

      <form action="/register" method="POST" style="margin:150px;">
      <label for="register">Email:</label>
      <input id="email" type="email" name="email" placeholder="john@smith.com" style="width: 300px">
      <label for="register">Password:</label>
      <input id="password" type="password" name="password" style="width: 300px">
      <input class="submit" type="submit" value="Register!">
      </form>

    </body>



</html>