<!DOCTYPE html>
 <html>

  <head>
  </head>

    <body>

      <form action="/register" method="POST" style="margin:150px;">
      <label for="register">Enter A Username:</label>
      <input id="username" type="text" name="username" placeholder=" " style="width: 300px">
      <input class="submit" type="submit" value="Shortify!">
      </form>

    </body>



</html>