<!DOCTYPE html>
 <html>

  <head>
   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>

    <body>
      <header>
     <% include ./partials/_header %>
     </header>
<h1 style='text-align: center;'>Login</h1>
      <form class="w3-container w3-card-4 w3-light-grey" action="/login" method="POST" style="margin:150px;">
      <label for="email">Email:</label>
      <input class="w3-input w3-border" id="email" type="text" name="email" style="width: 300px">
      <br>
        <label for="password">Password:</label>
       <input class="w3-input w3-border" id="password" type="password" name="password" style="width: 300px">
      <input class="w3-button w3-black" type="submit" value="Login">
  </form>

    </body>



</html>

