<!DOCTYPE html>
<html lang="en">
<head>

  <title>TinyApp</title>
</head>
<body>
<header> <% include ./partials/_header %></header>
<h1></h1>

<ul>
<% for(var i in urls) {%>
  <li> <%= i + " ======> " + urls[i]%> </li>
  <% } %>

</ul>

<a href=http://google.com>Shorten URL</a>
</body>
</html>