<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
   <body>
     <header>
     <% include ./partials/_header %>
     </header>
    <h1 style="text-align: center;">urlDatabase</h1>
      <div class='urls'>
        <ul>
         <% for(var i in urls) {%>
            <li class="url"> <%= [i] + " ======> " + JSON.stringify(urls[i])%>
               <a class="w3-button w3-black" href="/urls/<%= [i] %>">Edit</a>
               <form method="POST" action="/urls/<%= [i] %>/delete"><button class="w3-button w3-black">Delete</button></form>
               <br>
            </li>
                <% }  %>
         </ul>
     </div>
    </body>
</html>