<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
   <body>
     <header>
     <% include ./partials/_header %>
     </header>
    <h1 style="text-align: center;">urlDatabase</h1>
      <% for(var i in urls) {%>
      <div class="w3-container">
      <div class="w3-card-4" style="width: 500px; margin: 10px;">

            <div class="w3-container w3-light-grey"> <%= [i] + ": " + JSON.stringify(urls[i])%></div>
               <a class="w3-button w3-black w3-border w3-border-black w3-round-large" style="float: left;" href="/urls/<%= [i] %>">Edit</a>
               <form method="POST" action="/urls/<%= [i] %>/delete"><button class="w3-button w3-black w3-border w3-border-black w3-round-large">Delete</button></form>
               <br>


     </div>
     </div>
      <% }  %>
    </body>
</html>