<!DOCTYPE html>
<html lang="en">
<head>

  <title>TinyApp</title>

<style type="text/css">
 li.url {
  margin:10px 10px 100px 10px;

 }

</style>

</head>
   <body>

     <header>
     <% include ./partials/_header %>
     </header>



           <div>
            <h1 style="text-align: center;">urlDatabase</h1>
              <ul>
                 <% for(var i in urls) {%>
                 <% if (i === userID) {%>
                    <li class="url"> <%= i + " ======> " + JSON.stringify(urls[i])%>
                       <form method="POST" action="/urls/<%= i %>/delete"><button>Delete</button></form>
                          <a class="edit" href="/urls/<%= i %>" style="margin-left: 20px;">Edit</a>
                    </li>
                        <% } } %>

              </ul>
            </div>

    </body>
</html>