<!DOCTYPE html>
<html lang="en">
<head>

  <title>TinyApp</title>

<style>
* {
  font-family: sans-serif;
}

input {
  background: gray;
}

</style>

</head>
   <body>

     <header>
     <% include ./partials/_header %>
     </header>



           <div>
            <h1 style="text-align: center;">urlDatabase</h1>
              <ul>
                 <% for(var i in urls) {%>

                    <li class="url"> <%= [i] + " ======> " + JSON.stringify(urls[i])%>
                       <form method="POST" action="/urls/<%= [i] %>/delete"><button>Delete</button></form>
                          <a class="edit" href="/urls/<%= [i] %>" style="margin-left: 20px;">Edit</a>
                    </li>
                        <% }  %>

              </ul>
            </div>

    </body>
</html>